# This is Git's per-user configuration file.
[user]
    email = find.art.in.living@gmail.com
[commit]
 ; gpgsign = true
[gpg]
    program = gpg
[push]
    autoSetupRemote = true
[pull]
    rebase = true
[alias]
    ch = "!fn() { git branch | fzf | xargs git checkout;}; fn"
    s = status
    c = commit
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[init]
    defaultBranch = main
[rerere]
    enabled = true
    autoupdate = true
[url "git@github.com:"]
    insteadOf = https://github.com/
