layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                color_ink        "#181926"
                color_normal     "#A6DA95"
                color_accent     "#8AADF4"
                color_tmux       "#F5A97F"
                color_locked     "#6E738D"
                color_session    "#8AADF4"
                color_border     "#6C7086"
                color_tab        "#6C7086"
                color_tab_active "#9399B2"
                color_git        "#8AADF4"
                color_date       "#6C7086"

                format_left   "{mode} #[fg=$session,bold]{session}"
                format_center "{tabs}"
                format_right  "{datetime}"
                format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=$border]{char}"
                border_position "top"

                hide_frame_for_single_pane "false"

                mode_normal        "#[bg=$normal,fg=$ink,bold] NORMAL "
                mode_locked        "#[bg=$locked,fg=#ffffff,bold] LOCKED "
                mode_resize        "#[bg=$accent,fg=$ink,bold] RESIZE "
                mode_pane          "#[bg=$accent,fg=$ink,bold] PANE "
                mode_tab           "#[bg=$accent,fg=$ink,bold] TAB "
                mode_scroll        "#[bg=$accent,fg=$ink,bold] SCROLL "
                mode_enter_search  "#[bg=$accent,fg=$ink,bold] ENT-SEARCH "
                mode_search        "#[bg=$accent,fg=$ink,bold] SEARCH "
                mode_rename_tab    "#[bg=$accent,fg=$ink,bold] RENAME-TAB "
                mode_rename_pane   "#[bg=$accent,fg=$ink,bold] RENAME-PANE "
                mode_session       "#[bg=$accent,fg=$ink,bold] SESSION "
                mode_move          "#[bg=$accent,fg=$ink,bold] MOVE "
                mode_prompt        "#[bg=$accent,fg=$ink,bold] PROMPT "
                mode_tmux          "#[bg=$tmux,fg=$ink,bold] TMUX "

                tab_normal   "#[fg=$tab] {name} "
                tab_active   "#[fg=$tab_active,bold,italic] {name} "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=$git] {stdout} "
                command_git_branch_interval    "1"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=$date,bold] {format} "
                datetime_format "%H:%M"
                datetime_timezone "Europe/Samara"
            }
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
